@import url('https://fonts.googleapis.com/css?family=Oswald:500');


body{
    background-color:rgb(244, 255, 244);
	color: rgb(0, 0, 0);

}
 .thx {
	 position: fixed;
	 left: 50%;
	 transform: translateX(-50%);
	 bottom: 15px;
}
 nav {
	 width:85%;
	 position: fixed;
	 top: 50px;
	 text-align: center;
	 z-index: 1;
}
 nav a {
	 font-family: 'Oswald', sans-serif;
	 font-weight: 500;
	 text-transform: uppercase;
	 text-decoration: none;
	 color: #000000;
	 margin: 0 15px;
	 font-size: 16px;
	 letter-spacing: 1px;
	 position: relative;
	 display: inline-block;
}
 nav a:before {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 3px;
	 background: #000000;
	 top: 47%;
	 animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
 nav a:hover:before {
	 animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
 @keyframes in {
	 0% {
		 width: 0;
		 left: 0;
		 right: auto;
	}
	 100% {
		 left: 0;
		 right: auto;
		 width: 100%;
	}
}
 @keyframes out {
	 0% {
		 width: 100%;
		 left: auto;
		 right: 0;
	}
	 100% {
		 width: 0;
		 left: auto;
		 right: 0;
	}
}
 @keyframes show {
	 0% {
		 opacity: 0;
		 transform: translateY(-10px);
	}
	 100% {
		 opacity: 1;
		 transform: translateY(0);
	}
}
 nav a:nth-child(1) {
	 animation: show 0.2s 1.1s ease 1 both;
}
 nav a:nth-child(2) {
	 animation: show 0.2s 1.2s ease 1 both;
}
 nav a:nth-child(3) {
	 animation: show 0.2s 1.3s ease 1 both;
}
 nav a:nth-child(4) {
	 animation: show 0.2s 1.4s ease 1 both;
}
 nav a:nth-child(5) {
	 animation: show 0.2s 1.5s ease 1 both;
}


/*FOOTER*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.footer-distributed{
    margin-top: 10%;
	background: rgb(68, 100, 83);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  rgb(193, 255, 208);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

  
  body, html {
	font-family: 'Roboto Slab', serif;
	margin: 0;
	margin-top: 7%;
	width: 100%;
	padding: 0;
  }
  
  body {
	background-color: #D2DBDD;
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
  }
  
  .cards {
	  width: 100%;
	  display: flex;
	  display: -webkit-flex;
	  justify-content: center;
	  -webkit-justify-content: center;
	  max-width:100%;
  }
  
  .card__like {
	  width: 18px;
  }
  

  .card__info-hover {
	  position: absolute;
	  padding: 16px;
	width: 100%;
	opacity: 0;
	top: 0;
  }
  
  .card__img--hover {
	transition: 0.2s all ease-out;
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  width: 100%;
	position: absolute;
	  height: 235px;
	border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
	
  }
  .card {
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	width:100%;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  }
  .card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
	  transform: scale(1.10, 1.10);
  }
  
  .card__info {
  z-index: 2;
	background-color: #fff;
	border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
	 padding: 16px 24px 24px 24px;
  }
  
  .card__category {
	  font-family: 'Raleway', sans-serif;
	  text-transform: uppercase;
	  font-size: 13px;
	  letter-spacing: 2px;
	  font-weight: 500;
	color: #868686;
  }
  
  .card__title {
	  margin-top: 5px;
	  margin-bottom: 10px;
	  font-family: 'Roboto Slab', serif;
  }
  
  .card__by {
	  font-size: 12px;
	  font-family: 'Raleway', sans-serif;
	  font-weight: 500;
  }
  
  .card__author {
	  font-weight: 600;
	  text-decoration: none;
	  color: #AD7D52;
  }
  
  .card:hover .card__img--hover {
	  height: 100%;
	  opacity: 0.3;
  }
  
  .card:hover .card__info {
	  background-color: transparent;
	  position: relative;
  }
  
  .card:hover .card__info-hover {
	  opacity: 1;
  }

  .item-container {
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap:20px;
	justify-content: center;
	}
	
	.div0 { grid-area: 1 / 1 / 2 / 2; }
	.div1 { grid-area: 1 / 2 / 2 / 3; }
	.div2 { grid-area: 1 / 3 / 2 / 4; }
	.div3 { grid-area: 2 / 1 / 3 / 2; }
	.div4 { grid-area: 2 / 2 / 3 / 3; }
	.div5 { grid-area: 2 / 3 / 3 / 4; }
	.div6 { grid-area: 3 / 1 / 4 / 2; }
	.div7 { grid-area: 3 / 2 / 4 / 3; }
	.div8 { grid-area: 3 / 3 / 4 / 4; }
	.div9 { grid-area: 4 / 1 / 5 / 2; }
	.div10 { grid-area: 4 / 2 / 5 / 3; }
	.div11 { grid-area: 4 / 3 / 5 / 4; }
	.div12 { grid-area: 5 / 1 / 6 / 2; }
	.div13 { grid-area: 5 / 2 / 6 / 3; }
	.div14 { grid-area: 5 / 3 / 6 / 4; }


	.button-buy {
		margin-left: 70px;
		background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
		background-color:#44c767;
		border-radius:15px;
		border:1px solid #18ab29;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:12px;
		padding:7px 7px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2f6627;
	}
	.button-buy:hover {
		background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
		background-color:#5cbf2a;
	}
	.button-buy:active {
		position:relative;
		top:1px;
	}
	.item-detail{
		margin-left: 35%;
		padding:40px 0 40px 0;
	}